body.error-404 header#main-header {
  background-color: var(--main-color);
}

#main-404 {
  background-color: var(--main-color);
  .page-404{
    .content-404 {
      padding: rem(48) rem(159);
      color: var(--white);
      h1 {
        color: var(--white);
      }
        p {
          color: var(--white);
        }
    }
  }
}
.error-404.customize-support {
  background-color: var(--main-color);
  overflow: hidden;
}
