.partners-section {
    h2 {
        @include heading2;
        color: var(--main-color);
    }
    margin: rem(78) rem(156) rem(234) rem(156);
    display: flex;
    flex-direction: column;
    gap: rem(32);
    .partners-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    @media (max-width: 1440px) {
        margin: rem(78) rem(40) rem(234) rem(40);
        .partners-container {
            flex-direction: column;
            gap: rem(20);
            img {
                margin-bottom: rem(32);
                width: 100%;
            }
        }
    }
}