@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

$font: "Mulish", sans-serif;

@mixin heading1 {
	font-family: $font;
	font-size: rem(84);
	line-height: rem(105.42);
	font-weight: 600;
}

@mixin heading2 {
	font-family: $font;
	font-size: rem(63);
	line-height: rem(79.07);
	letter-spacing: rem(3);
	font-weight: 600;
}

@mixin heading3 {
	font-family: $font;
	font-size: rem(47);
	line-height: rem(58.99);
	font-weight: 600;
}

@mixin heading4 {
	font-family: $font;
	font-size: rem(35);
	line-height: rem(43.93);
	letter-spacing: 0.03em;
	font-weight: 600;
}

@mixin heading5 {
	font-family: $font;
	font-size: rem(27);
	line-height: rem(33.89);
	font-weight: 700;
}

@mixin heading6 {
	font-family: $font;
	font-size: rem(20);
	line-height: rem(25.1);
	font-weight: 700;
}

@mixin p15 {
    font-family: $font;
    font-size: rem(15);
    line-height: rem(19.53);
    font-weight: 400;
}

@mixin p20 {
    font-family: $font;
    font-size: rem(20);
    line-height: rem(38);
    font-weight: 400;
}

@mixin p26 {
    font-family: $font;
    font-size: rem(26);
    line-height: rem(42);
    font-weight: 400;
}

