.team-section {
    h2 {
        @include heading2;
    }
    display: flex;
    flex-direction: column;


    .team-members-container {
        display: flex;
        flex-direction: row;
        gap: 32px;
        flex-wrap: wrap;

        .team-member {
            flex: 1 1 22%;

            img {
                width: 100%;
                height: auto;
            }

            h4 {
                @include heading4;
            }

            p {
                @include p20;
                color: rgba(138, 138, 138, 1);
            }
        }
    }

    @media (max-width: 768px) {
        .team-members-container {
            .team-member {
                flex: 1 1 45%;
            }
        }
    }

    @media (max-width: 480px) {
        .team-members-container {
            flex-direction: column;
            align-items: center;

            .team-member {
                flex: 1 1 100%;
            }
        }
    }

    @media (max-width: 1440px) {
        .team-members-container {
            gap: 24px;
        }
    }
}
