aside#secondary {
    width: rem(502);
    .widget.widget_block {
        h4 {
            color: var(--main-color);
        }
        li {
            margin-bottom: rem(35);
            .wp-block-latest-posts__featured-image.alignleft {
                width: 88px;
                height: 88px;
            }
            .wp-block-latest-posts__post-title {
                display: flex;
                line-height: rem(38);
            }
            .wp-block-latest-posts__post-date {
                font-size: rem(13);
                font-weight: 400;
                line-height: rem(16.32);
                color: var(--grey);
            }
        }
    }
    a {
        color: var(--grey);
        text-decoration: none;
        font-size: rem(20);
    }
    .widget.widget_block.widget_tag_cloud {
        .wp-block-tag-cloud {
            a {
                background-color: #F8F8F8;
                margin: auto;
                font-size: rem(16);
                padding: 0 rem(8);
            }
        }
    }
    img.attachment-thumbnail.size-thumbnail.wp-post-image {
        max-height: 100% !important;
        max-width: 100% !important;
    }
    #block-11, #block-10, #block-8 {
        margin-bottom: rem(70);
    }
}

ul.wp-block-archives-list.wp-block-archives, .wp-block-categories-list.wp-block-categories{
    list-style: none;
    position: relative;
}
ul.wp-block-archives-list.wp-block-archives li:before, .wp-block-categories-list.wp-block-categories li:before{
    content: '•';
    position: absolute;
    left: 0;
    background: var(--accent);
    -webkit-background-clip: text;
    color: transparent;
}

.wp-block-search__inside-wrapper {
    padding: 10px;
    border: none;
    border-bottom: 1px solid #ccc;
    font-family: "Mulish", sans-serif;
    font-size: calc(15 / 16 * 1rem);
    line-height: calc(19.53 / 16 * 1rem);
    font-weight: 400;
    button.wp-block-search__button.has-icon.wp-element-button {
        background: none;
        border: none;
        color: var(--grey);
    }
}